body {
    background-color: lightskyblue;
}
h1 {
    text-align: center;
}
p {
    text-align: center;
}
.form-container {
    display: flex;
    justify-content: center;
}
.form {
    border: solid;
    padding: 10px 20px 10px 20px;
    display: flex;
    flex-direction: row;
    background-color: lightblue;
    width: 300px;
    justify-content: center;
}
.reset-submit-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
